<!DOCTYPE html>
<html>
<body>

    <h1>Uh oh! There seems to be an error. </h1>
      Please see the error(s) below and try again:
      <br>

      <% @user.errors.full_messages.each do |error| %>
          <ul>
            <font color="red" size="2"><i>
              <li><%=error%>
            </ul></font></i>
      <% end %>
    <br>
    <br>
    <a href= "/signup">Sign Up</a>
    <a href= "/login">Log In</a>
</body>
</html>
