<!DOCTYPE html>
<html>
<body>

    <h1>Uh oh! There seems to be an error. </h1>
    Please make sure the following are correct and try again:
      <ol type="square">
        <li>Name, username, password, and email are all filled in to completion (no blanks)</li>
        <li>Name, username, password, and email are correct</li>
        <li>You have an account</li>
      </ol>
    <br>
    <a href= "/signup">Sign Up</a>
    <a href= "/login">Log In</a>
</body>
</html>
