<h1>"Location deleted!"</h1>
<br>
What would you like to do next?

<br>

<a href="/joint_index" class="btn btn-primary">Home</a>
<a href="/completions/new" class="btn btn-primary">Create New</a>
<a href="/logout" class="btn btn-primary">Log Out</a>
