<h1>"Location deleted!"</h1>
What would you like to do next?

<br>
<p><a href='/joint_index'>Back to Home</a></p>
<p><a href='/completions/new'>Create a New Location</a></p>
<p><a href='/logout'>Log Out</a></p>
