    <a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>
<form method="post" action="/completions/<%=@completion.id %>/delete">
 <input type="hidden" name="_method" value="delete">
 <input type="submit"  class="btn btn-primary" value="Confirm Deletion">
</form>
<br>
<form>
  <input type="button" value="Go Back" class="btn btn-primary" onclick="history.back()">
</form>
