    <a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>
<h1>Add a past trip!</h1>
<i>Please do not leave any field blank. If you do not know yet, enter "TBD".</i> <br> <br>

<div class="container">
  <form action="/completions" method="post">
    <div class="form-group">
     <label for="city">City:</label>
     <input type="text" class="form-control" placeholder="Enter city" name="city">
    </div>
    <div class="form-group">
     <label for="country">Country:</label>
     <input type="text" class="form-control" placeholder="Enter country" name="country">
    </div>
    <div class="form-group">
     <label for="tourist_attraction">What You Did:</label>
     <textarea class="form-control" rows="5"  placeholder="Enter activities" name="tourist_attraction"></textarea>
    </div>
    <div class="form-group">
     <label for="date_visited">Date Visited:</label>
     <input type="text" class="form-control" placeholder="Enter date visited" name="date_visited">
    </div>
    <button type="submit" class="btn btn-primary">Add </button>
    <a href="/joint_index" class="btn btn-primary ">Back Home</a>
  </form>
</div>
