<h1>Add a past trip!</h1>
<i>Please do not leave any field blank. If you do not know yet, enter "TBD".</i> <br> <br>

<form action="/completions" method="post">
  City: <input type="text" name="city"><br>
  Country: <input type="text" name="country"><br>
  What You Did: <input type="text" name="tourist_attraction"><br>
  Date Visited: <input type="text" name="date_visited"><br>
  <input type="submit" value="Add">
</form>
