    <a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>
<h1>"Location deleted!"</h1>
<br>
What would you like to do next?

<br>
<br>

<a href="/joint_index" class="btn btn-primary">Home</a>
<a href="/goals/new" class="btn btn-primary">Create New</a>
<a href="/logout" class="btn btn-primary">Log Out</a>
