
<h1>Add a new item!</h1>
<form action="/goals" method="post">
  City: <input type="text" name="city"><br>
  Country: <input type="text" name="country"><br>
  What You Want To Do:  <input type="text" name="tourist_attraction"><br>
  <input type="submit" value="Add">
</form>
