<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("http://i65.tinypic.com/30cvjox.jpg");
}
</style>
</head>
<body>

  <h1>Welcome! Please log in or sign up:</h1>
  <a href= "/signup">Sign Up</a>
  <a href= "/login">Log In</a>
</body>
</html>
