<h1>"Location deleted!"</h1>
What would you like to do next?

<br>
<p><a href='/locations/index'>View Past Locations</a></p>
<p><a href='/locations/new'>Create a New Location</a></p>
<p><a href='/logout'>Log Out</a></p>
