<h1>Add a new location!</h1>
<form action="/locations" method="post">
  City: <input type="text" name="city"><br>
  Country: <input type="text" name="country"><br>
  What You Did: <input type="text" name="tourist_attraction"><br>
  Date Visited: <input type="text" name="date_visited"><br>
  <input type="submit" value="Submit">
</form>
