<h1>Here are the Details of this Trip: </h1>

City: <%=@location.city%><br>
Country: <%=@location.country%><br>
What You Did: <%=@location.tourist_attraction%><br>
Date Visited: <%=@location.date_visited%>

<h2>add edit button</h2>
<h2>add delete button</h2>
